version: '3.8'
services:
 app:
  build: .
  ports:
  - "8080:8080"
  environment:
  - MAL_CLIENT_ID=${MAL_CLIENT_ID}
  - PORT=8080
  - USE_REDIS=${USE_REDIS}
  - REDIS_ADDR=redis:6379
  - REDIS_PASS=
 redis:
  image: redis:7
  ports:
    - "6379:6379"